@model CalculoIndice.Models.Carrera

@{
    ViewBag.Title = "Delete";
}

<br />
<center><h2><b>Eliminar carreras</b></h2></center>


<div>
    <center>
        <hr />
        <dl class="form-group">
            <dt>
                <b>@Html.DisplayNameFor(model => model.Descripcion)</b>
            </dt>

            <dd>
                <h3> @Html.DisplayFor(model => model.Descripcion)</h3>
            </dd>

        </dl>
    </center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<center>
    <br />
    <input type="submit" value="Eliminar" class="btn btn-danger" style="width:450px" />
    <br /> <br />
</center>

        <div class="btn btn-info" style="width:280px">

            @Html.ActionLink("Regresar a la lista de carreras", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })

            <br />
        </div>
    }
</div>
