@model CalculoIndice.Models.Carrera

@{
    ViewBag.Title = "Detalles";
}

<br />
<center><h2><b>Detalles carreras</b></h2></center>

<center>

    <hr />
    <dl class="form-group">
        <dt>
            <b>@Html.DisplayNameFor(model => model.Descripcion)</b>
        </dt>

        <dd>
            <h3> @Html.DisplayFor(model => model.Descripcion)</h3>
        </dd>

    </dl>
</center>

    @Html.ActionLink("Editar", "Edit", new { id = Model.CarreraId }, new { @class = "btn btn-warning" })

<div class="btn btn-info" style="width:280px">

    @Html.ActionLink("Regresar a la lista de carreras", "Index", new { @class = "btn btn-info" }, new { @style = "color:white;" })

    <br />
</div>